.body {
    width: 1488;
    height: 1430;
    background: #E5E5E5;
    position: relative;
}
.a01 {
    width: 1440px;
    height: 72px;
    background: #0B2239;
    margin: 228px 24px 0px 24px;
    display: flex;
    flex-direction: row;
}
.a01p {
    width: 922px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 16px 0px 16px 120px;
}
.a01settings {
    width: 86px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4AD295;
    margin: 26px 0px 26px 42px;
}
.buttona01 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 10px;
    gap: 10px;
    border: 0;
    width: 130px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px;
    margin: 18px 0px 18px 20px;
}
.buttonText {
    width: 110px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}
.a02 {
    width: 1440px;
    height: 52px;
    background: #2B2627;
    margin: 24px 24px 0px 24px;
    display: flex;
    flex-direction: row;
}
.img_01 {
    width: 16px;
    height: 16px;
    margin: 18px 0px 18px 345.5px;
}
.texta02 {
    width: 689px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 16px 0px 16px 8px;
}
.img_02 {
    width: 16px;
    height: 16px;
    margin: 18px 0px 18px 20px;
}
.b01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 560px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    margin: 72px 904px 0px 24px;
}
.img_b01 {
    width: 36px;
    height: 36px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
}
.b_01 {
    width: 20px;
    height: 20px;
    margin: 8px;
}

.text_b01 {
    width: 347px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
}
.text_b01Pink {
    color: #EA4C89;
}
.decline_b01 {
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    border-color: rgba(13, 12, 34, 0.05);
    ;
}
.decline_text {
    width: 43px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #0D0C22;
}
.allow_b01 {
    width: 52px;
    height: 28px;
    background: #EA4C89;
    border-radius: 8px;
    border-color: #EA4C89;
}
.allow_text {
    width: 32px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}
.b02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 560px;
    height: 64px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    margin: 24px 0px 0px 24px;
}
.text_b02 {
    width: 469px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}
.text_b02Yellow {
    color: #E6842E;
}
.button_b02 {
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
}
.button_b02Text {
    width: 29px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
}
.c01_c03 {
    display: flex;
    flex-direction: row;
    margin: 72px 0px 0px 24px;
}
.c01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: 206px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
}
.cookieNotice {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 24px 0px 10px 24px;
}
.c01Text {
    width: 312px;
    height: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0px 24px 16px 24px;
}
.footerC01 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.manage {
    width: 160px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 67px 0px 24px;
}
.buttonC01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;
}
.textButtonC01 {
    width: 45px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.c03 {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    margin-left: 40px;
}
.cookieSettings {
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
    margin: 16px 0px 0px 16px;
}
.c03Text {
    width: 328px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
    margin: 10px 16px 0px 16px;
}
.footerC03 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.c03Manage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin: 16px 8px 16px 16px;
    border: none;
}
.textC03Manage {
    width: 144px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #687F8C;
}
.c03Accept {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;
}
.textC03Accept {
    width: 144px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.d01_d02 {
    display: flex;
    flex-direction: row;
    margin: 72px 0px 0px 24px;
}
.d01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 260px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
}
.cookiesD01 {
    width: 104px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #15295A;
    margin-top: 32px;
    margin-bottom: 0px;
}
.d01Text {
    width: 256px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #15295A;
    margin-bottom: 32px;
}
.buttonD01 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 32px;
    gap: 10px;
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    border: none;
}
.buttonTextD01 {
    width: 57px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.d02 {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 137px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    margin-left: 40px;
}
.d02Text {
    width: 288px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 16px;
    margin-left: 16px;
}
.footerD02 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.d02Privacy {
    width: 95px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6666FF;
    margin-left: 16px;
}
.d02Accept {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    border: none;
    margin-top: 12px;
    margin-left: 129px;
}
.textD02Accept {
    width: 48px;
    height: 17px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}